<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to home page</h1>
    <form action="/formpage" method="POST">
        <label for="name">name</label>
        <input type="text" name="name" id="name">

        <label for="age">age</label>
        <input type="text" name="age" id="age"><br>

        <input type="submit" value="submit">
    </form>
    <br><br>
    <h1> second form</h1>
    <form action="/marklist" method="POST" style="margin: 10px;">
        <label>subject</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>mark</label><br>
        
        <input typ="text" name='sub1'>
        <input type="text" name='m1'><br>

        <input typ="text"name='sub2'>
        <input type="text"name='m2'><br>

        <input typ="text"name='sub3'>
        <input type="text"name='m3'><br>

        <input type="submit" value="submit">


    </form>
</body>
</html>